.NewMessage {
  color: rgb(100, 61, 253);
}

.MessageDelivery {
  color: rgb(10, 193, 4);
}

.MessageTag {
  font-weight: 700;
  background-color: rgb(255, 255, 216);
  margin-right: 0.5em;
}

.ChatIntroHeader {
  font-weight: 700;
  margin-bottom: 0.5em;
}
